{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="starter-template">
        
        <h1>Section administrateur</h1>

        <p class="lead"> <p> Créer un utilisateur</p>
        <a href="./admin/user/add">Cliquez ici.</a></p>

      </div>

{% endblock %}