<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Scrapping</title>
</head>
<body>
    <header class="header">
        <h1>Résultat du scrapping : </h1>
    </header>
    {% for annonce in annonces %}
    <article>
    
    <h2>{{annonce.Title}}</h2>
        <p>Lien : {{annonce.Link}}</p>
        <p>Description : {{annonce.Desc}}</p>

    </article>
    {% endfor %}

    <footer class="footer">
        <p></p>
    </footer>
</body>
</html>