<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Outil de monitoring</title>
</head>
<body>
    <header class="header">
        <h1>Entrez un mot clé</h1>
    </header>
    
    <main>
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" />
        </form>
    </main>
    <footer class="footer">
    </footer>
</body>
</html>