{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="starter-template">
        
        <h1>Bienvenue sur l'interface de monitoring</h1>

        <p class="lead"> <p> Trouver les annonces correspondant à un mot</p>
        <a href="./index.php/keyword">Cliquez ici.</a></p>

      </div>

{% endblock %}
      
