<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Outil de monitoring</title>
</head>
<body>
    <header class="header">
        <h1>Bienvue sur l'interface de monitoring</h1>
    </header>
    
    <main>
        <p> Trouver les annonces correspondant à un mot</p>
        <a href="form"> Cliquez ici. </a>
    </main>
   

    <footer class="footer">
    </footer>
</body>
</html>