body { 

    padding-top: 50px; 

}

.starter-template {

  padding: 40px 15px;

  text-align: center;

}
.footer {

    border-top: 1px solid #ccc;
    bottom:0;
    position: absolute;
    padding-top: 10px;
    text-align: center;
    width:100%;
    height : 60px;
    background-color: #363839;

}

.container-fluid {
    padding: 30px 50px;
    margin : 50px;
    border-style: solid;
   
}
